<!--@subject Support TicketForm@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
<p>A Support Ticket Has Been Generated</p>
<p>Details Are Below : </p>
<!--<b>UserId :</b> {{var userid}}<br>-->
<b>TicketId :</b> {{var ticketid}}<br>
<b>Name :</b> {{var name}}<br>
<b>E-mail :</b> {{var email}}<br>
<b>TicketMsg :</b> {{var ticketmsg}}<br>
<b>TicketSub :</b> {{var ticketsub}}<br>
<b>TicketPrio :</b> {{var ticketprio}}<br>
<b>TicketDept :</b> {{var ticketdept}}<br>